.img-wallpaper {
  background-image: url(images/Background.jpg);
  position: absolute;
  background-color: #cccccc;
  background-size: cover;
  width: 100%;
  height: auto;
}
.header-right {
  padding-right: 400px;
  padding-top: 30px;
  font-size: 16px;
  margin-right: 0px;
  line-height: 16px;
  float: left;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  position: relative;
  z-index: 999;
}
#Ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-li {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  
}
.navbar-li-a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
#unor {
  position: absolute;
  top: 100%;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}
#unor2 {
  position: absolute;
  top: 100%;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  
}


.navbar-ul-ul-li {
  display: block;
  background-color: #3e4450;
  font-family: Arial, Helvetica, sans-serif;
  
}
.navbar-li:hover #unor   {
  display: block;
  

}
.navbar-li:hover #unor2  {
  display: block;

}

.install-steam {
  display: block;
  padding-left: 15px;
  padding-right: 9px;
  float: right;
  background-position: -1px 5px;
  background-image: url(https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
  background-repeat: no-repeat;
  text-decoration: none;
  background-color: #6c9018;
  font-weight: normal;
  color: #ffffff;
  position: relative;
  height: 29px;
  line-height: 24px;
  margin-right: 3px;
  border: none;
  line-height: 30px;
  
}
.install-steam:hover {
  background-color: #6c9030;
  transition-property: background;
  transition-duration: 250ms;
  cursor: pointer;
}
.navbar-ul-ul-li-a{ 
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-ul-ul-li-a:hover {
  background-color: #dcdedf;
  color: #171a21;
}

.main-code {
  overscroll-behavior: none;
}

.container {
  scroll-behavior: none;
}
.header {
  background: #171a21;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
  overflow: visible;
  padding: 13px 8px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 999;
}
.logo {
  float: left;
  padding-top: 30px;
  margin-right: 40px;
  width: 176px;
  height: 44px;
}
.img {
  width: 176px;
  aspect-ratio: auto 176 / 44;
  height: 44px;
}
.store {
  color: #1a9fff;
  text-decoration: underline;
}

.beside-install {
  position: absolute;
  text-align:right;
  color:white;
  float:right;
  font-family: Arial, Helvetica, sans-serif;

  
}

#beside-install-ul {
  list-style-type: none;
  margin-left: 700px;
  padding: 0;
  float:right;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  
}
.beside-install-li {
  display: block;
  color: white;
  width: 100%;
  height: auto;
  float:right;
  flex-flow: row wrap;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  

  
}
.sign-in-text {
  position: absolute;
  padding-left: 315px;
  padding-top: 225px;
  color: white;
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

.sign-in {
  position: absolute;
  padding-left: 300px;
  padding-top: 300px;
  z-index: 998;
  font-family: Arial, Helvetica, sans-serif;
}
.sign-in_input {
  position: absolute;
  margin-left: 330px;
  margin-top: 350px;
  z-index: 999;
  height: 210%;
  width: 390px;
  background-color: transparent;
  color: white;
  border-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
.sign-in_input_2 {
  position: absolute;
  margin-left: 330px;
  margin-top: 421px;
  z-index: 999;
  height: 210%;
  width: 390px;
  background-color: transparent;
  color: white;
  border-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
.sign_in_btn {
  background-color: transparent;
  position: absolute;
  margin-left: 394px;
  margin-top: 503px;
  z-index: 999;
  height: 300%;
  width: 270px;
  font-size: 12.75pt;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.sign-in-btn:hover {
  border-color: white;
}
.footer {
  background: #171a21;
  position: absolute;
  top: 400px;
  z-index: 999;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
  overflow: visible;
  margin-left: 0;
  width: 100%;
  height: auto;
}
